[submodule "unpyc37"]
	path = unpyc37
	url = https://github.com/greyblue9/unpyc37-3.10.git
[submodule "pycdc"]
	path = pycdc
	url = https://github.com/zrax/pycdc.git
	ignore = all
[submodule "vendor/LlamaLogic"]
	path = vendor/LlamaLogic
	url = https://github.com/Llama-Logic/LlamaLogic.git
